---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - appstudio.redhat.com
  resources:
  - applications/finalizers
  - releaseplans/finalizers
  - releases/finalizers
  verbs:
  - update
- apiGroups:
  - appstudio.redhat.com
  resources:
  - enterprisecontractpolicies
  - releaseplanadmissions
  - releaseserviceconfigs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - appstudio.redhat.com
  resources:
  - enterprisecontractpolicies/status
  verbs:
  - get
- apiGroups:
  - appstudio.redhat.com
  resources:
  - internalrequests
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - appstudio.redhat.com
  resources:
  - releaseplanadmissions/status
  - releaseplans/status
  - releases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - appstudio.redhat.com
  resources:
  - releaseplans
  - releaseplansadmissions
  - releases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
