---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: tekton-role
rules:
  - apiGroups:
      - ""
    resources:
      - pods/log
    verbs:
      - get
  - verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
    apiGroups:
      - tekton.dev
    resources:
      - pipelineruns
      - taskruns
  - apiGroups:
      - triggers.tekton.dev
    resources:
      - eventlisteners
      - triggers
      - triggertemplates
    verbs:
      - create
      - update
      - patch
      - delete
      - watch
      - list
  - verbs:
      - get
      - list
      - create
      - watch
    resources:
      - persistentvolumeclaims
      - persistentvolumeclaims/status
    apiGroups:
      - ""
  - verbs:
      - get
      - list
      - create
      - watch
    resources:
      - routes
    apiGroups:
      - route.openshift.io
