---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: releaseplans.appstudio.redhat.com
spec:
  group: appstudio.redhat.com
  names:
    kind: ReleasePlan
    listKind: ReleasePlanList
    plural: releaseplans
    singular: releaseplan
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.application
      name: Application
      type: string
    - jsonPath: .spec.target
      name: Target
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ReleasePlan is the Schema for the ReleasePlans API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ReleasePlanSpec defines the desired state of ReleasePlan.
            properties:
              application:
                description: Application is a reference to the application to be released
                  in the managed namespace
                pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                type: string
              data:
                description: Data is an unstructured key used for providing data for
                  the release Pipeline
                type: object
                x-kubernetes-preserve-unknown-fields: true
              pipelineRef:
                description: PipelineRef is an optional reference to a Pipeline that
                  would be executed before the release Pipeline
                properties:
                  params:
                    description: Params is a slice of parameters for a given resolver
                    items:
                      description: Param defines the parameters for a given resolver
                        in PipelineRef
                      properties:
                        name:
                          description: Name is the name of the parameter
                          type: string
                        value:
                          description: Value is the value of the parameter
                          type: string
                      required:
                      - name
                      - value
                      type: object
                    type: array
                  resolver:
                    description: Resolver is the name of a Tekton resolver to be used
                      (e.g. git)
                    type: string
                  timeout:
                    default: "0"
                    description: Timeout is value to use to override the tekton default
                      Pipelinerun timeout
                    type: string
                required:
                - params
                - resolver
                type: object
              serviceAccount:
                description: ServiceAccount is the name of the service account to
                  use in the Pipeline to gain elevated privileges
                pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                type: string
              target:
                description: Target references where to send the release requests
                pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                type: string
            required:
            - application
            - target
            type: object
          status:
            description: ReleasePlanStatus defines the observed state of ReleasePlan.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
