name: Go Test on Pull Requests
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  merge_group:
    types: [checks_requested]
jobs:
  go:
    name: Check sources
    runs-on: ubuntu-latest
    env:
      OPERATOR_SDK_VERSION: v1.39.1
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
      - name: Cache Operator SDK ${{ env.OPERATOR_SDK_VERSION }}
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        id: cache-operator-sdk
        with:
          path: ~/cache
          key: operator-sdk-${{ env.OPERATOR_SDK_VERSION }}
      - name: Download Operator SDK ${{ env.OPERATOR_SDK_VERSION }}
        if: steps.cache-operator-sdk.outputs.cache-hit != 'true'
        run: |
          mkdir -p ~/cache
          wget https://github.com/operator-framework/operator-sdk/releases/download/${OPERATOR_SDK_VERSION}/operator-sdk_linux_amd64 -O ~/cache/operator-sdk-${OPERATOR_SDK_VERSION} > /dev/null -O ~/cache/operator-sdk-${OPERATOR_SDK_VERSION} > /dev/null
          chmod +x ~/cache/operator-sdk-${OPERATOR_SDK_VERSION}
      - name: Install Operator SDK ${{ env.OPERATOR_SDK_VERSION }}
        run: |
          mkdir -p ~/bin
          cp ~/cache/operator-sdk-${OPERATOR_SDK_VERSION} ~/bin/operator-sdk
          echo "$HOME/bin" >> $GITHUB_PATH
      - name: Regenerate executables with current environment packages
        run: |
          rm -f bin/kustomize bin/controller-gen
          make kustomize controller-gen
      - name: Cache go modules
        id: cache-mod
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Download dependencies
        run: go mod download
        if: steps.cache-mod.outputs.cache-hit != 'true'
      - name: Check go mod status
        run: |
          go mod tidy
          if [[ ! -z $(git status ':(exclude)bin/kustomize' ':(exclude)bin/controller-gen' -s) ]]
          then
            echo "Go mod state is not clean:"
            git --no-pager diff ':(exclude)bin/kustomize' ':(exclude)bin/controller-gen'
            exit 1
          fi
      - name: Check format
        run: |
          make fmt
          if [[ ! -z $(git status ':(exclude)bin/kustomize' ':(exclude)bin/controller-gen' -s) ]]
          then
            echo "Some files are not properly formatted."
            echo "Please run `go fmt` and amend your commit."
            git --no-pager diff ':(exclude)bin/kustomize' ':(exclude)bin/controller-gen'
            exit 1
          fi
      - uses: dominikh/staticcheck-action@024238d2898c874f26d723e7d0ff4308c35589a2 # v1.4.0
        with:
          version: "2025.1.1"
          install-go: false
      - name: Check manifests
        run: |
          make generate manifests
          if [[ ! -z $(git status ':(exclude)bin/kustomize' ':(exclude)bin/controller-gen' -s) ]]
          then
            echo "generated sources are not up to date:"
            git --no-pager diff ':(exclude)bin/kustomize' ':(exclude)bin/controller-gen'
            exit 1
          fi
      - name: Check RBAC wildcards
        run: |
          if grep -n "*" config/rbac/*.yaml ; then
            echo "RBAC files contain wildcards (*)"
            exit 1
          fi
      - name: Run Go Tests
        run: make test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          flags: unit-tests
      - name: Ensure make build succeeds
        run: make build
      - name: Ensure make bundle succeeds
        run: make bundle
  docker:
    name: Check docker build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
        with:
          fetch-depth: 0
      - name: Check if dockerimage build is working
        run: docker build -f ./Dockerfile .
  gitlint:
    name: Run gitlint checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
        with:
          fetch-depth: 0
          ref: ${{ github.sha }}
      - name: Install gitlint into container
        run: |
          python3 -m venv venv
          source venv/bin/activate
          python3 -m pip install gitlint
      - name: Run gitlint check
        run: |
          source venv/bin/activate
          RAW_BASE_REF="${{ github.base_ref || github.event.merge_group.base_ref }}"
          BASE_REF="${RAW_BASE_REF#refs/heads/}"
          echo "Base ref: $BASE_REF"
          git fetch origin "$BASE_REF"
          gitlint --commits "origin/$BASE_REF"..HEAD
